# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/sunrise-web/node_modules
**/sunrise-web/.pnp
**/sunrise-web/.pnp.js

# testing
**/sunrise-web/coverage

# production
**/sunrise-web/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
